adapter driver remote_bitbang
remote_bitbang_port 9823
remote_bitbang_host localhost

# Target setup
transport select jtag
adapter speed 100

set _CHIPNAME vortex
jtag newtap $_CHIPNAME cpu -irlen 5

# Single target configuration - we'll manually control hartsel
target create $_CHIPNAME.riscv riscv -chain-position $_CHIPNAME.cpu
$_CHIPNAME.riscv riscv set_reset_timeout_sec 2
$_CHIPNAME.riscv riscv set_command_timeout_sec 2

# Set default target
targets $_CHIPNAME.riscv

init
halt

