# vortex.cfg
adapter driver remote_bitbang
remote_bitbang port 9824

# Target setup
transport select jtag
adapter speed 1000

set _CHIPNAME vortex
jtag newtap $_CHIPNAME cpu -irlen 5
target create $_CHIPNAME.riscv riscv -chain-position $_CHIPNAME.cpu
init
halt

